@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';
.opt-order-edit,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, serif;
  letter-spacing: normal;
  line-height: normal;
}
.opt-order-edit .card-slider .slick-slide {
  padding: 0 10px;
}
.opt_order_edit_divider {
  width: 100%;
  height: 1px;
  background: #e9e7e7;
}
._opt_search_order_container_nnmpx_3 {
  max-width: 800px;
  width: 100%;
  margin: 100px auto;
  padding: 25px;
}
._opt_search_order_container_nnmpx_3 ._loginComponent_nnmpx_19 {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px #0000001a;
  border-radius: 6px;
  width: 100%;
  max-height: 500px;
}
._opt_search_order_container_nnmpx_3 ._loginForm_nnmpx_41 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
._opt_search_order_container_nnmpx_3 ._formContainer_nnmpx_55 {
  padding: 10px 30px 10px 10px;
}
._opt_search_order_container_nnmpx_3 ._title_nnmpx_65 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 3px;
}
._opt_search_order_container_nnmpx_3 ._subtitle_nnmpx_77 {
  font-size: 14px;
}
._opt_search_order_container_nnmpx_3 ._form_nnmpx_55 {
  margin-top: 1rem;
}
._opt_search_order_container_nnmpx_3 ._inputGroup_nnmpx_95 {
  margin-bottom: 1rem;
}
._opt_search_order_container_nnmpx_3 ._inputField_nnmpx_103 {
  width: 100%;
  padding: 9px 12px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  color: #6b7280;
  outline: none;
}
._opt_search_order_container_nnmpx_3 ._inputField_nnmpx_103:focus {
  border-color: #6d28d9;
  box-shadow: 0 0 0 1px #6d28d9;
}
._opt_search_order_container_nnmpx_3 ._signInButton_nnmpx_131 {
  width: 100%;
  text-align: center;
  background-color: #6d28d9;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
._opt_search_order_container_nnmpx_3 ._signInButton_nnmpx_131:hover {
  background-color: #5b21b6;
}
._opt_search_order_container_nnmpx_3 ._loginBanner_nnmpx_165 {
  width: 350px;
  height: 500px;
  border-radius: 6px;
  padding: 15px;
}
._opt_search_order_container_nnmpx_3 ._bannerImage_nnmpx_179 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
@media (max-width: 838px) {
  ._opt_search_order_container_nnmpx_3 ._loginBanner_nnmpx_165 {
    width: 45%;
  }
  ._opt_search_order_container_nnmpx_3 ._formContainer_nnmpx_55 {
    padding-left: 5px;
  }
}
@media (max-width: 721px) {
  ._opt_search_order_container_nnmpx_3 ._title_nnmpx_65 {
    font-size: 20px;
  }
  ._opt_search_order_container_nnmpx_3 ._loginComponent_nnmpx_19 {
    flex-direction: column;
    height: 100%;
    max-height: 800px;
  }
  ._opt_search_order_container_nnmpx_3 ._loginBanner_nnmpx_165 {
    width: 100%;
    height: 250px;
  }
  ._opt_search_order_container_nnmpx_3 ._formContainer_nnmpx_55 {
    width: 100%;
    padding: 10px 25px;
  }
  ._opt_search_order_container_nnmpx_3 ._buttonGroup_nnmpx_247 {
    margin-bottom: 15px;
  }
}
@media (max-width: 590px) {
  ._opt_search_order_container_nnmpx_3 ._loginBanner_nnmpx_165 {
    display: none;
  }
  ._opt_search_order_container_nnmpx_3 ._formContainer_nnmpx_55 {
    padding: 50px 25px 10px;
  }
}
@media (max-width: 385px) {
  ._opt_search_order_container_nnmpx_3 ._title_nnmpx_65 {
    font-size: 18px;
  }
  ._opt_search_order_container_nnmpx_3 ._subtitle_nnmpx_77 {
    font-size: 13px;
  }
}
._opt_order_edit_container_1xqi0_1 {
  padding: 20px;
  max-width: 1420px;
  width: 100%;
  margin: 100px auto;
}
._opt_order_edit_container_1xqi0_1 ._setting_1xqi0_15 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
._opt_order_edit_container_1xqi0_1 ._content_1xqi0_37 {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}
._order_details_desktop_1xqi0_51,
._order_summary_desktop_1xqi0_53 {
  width: 100%;
}
._opt_order_edit_container_1xqi0_1 ._productSection_1xqi0_61 {
  width: 100%;
  margin-top: 20px;
}
._opt_order_edit_container_1xqi0_1 ._productLabel_1xqi0_71 {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
}
._opt_order_edit_container_1xqi0_1 ._settings_box_1xqi0_83 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 100px;
  cursor: pointer;
}
._opt_order_edit_container_1xqi0_1 ._settings_icon_1xqi0_99 {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
._opt_order_edit_container_1xqi0_1 ._settings_label_1xqi0_125 {
  font-size: 10px;
}
._opt_order_edit_container_1xqi0_1 ._productCard_1xqi0_133 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
._opt_order_edit_container_1xqi0_1 ._productCard_1xqi0_133 a {
  text-decoration: none;
  color: #333;
}
._opt_order_edit_container_1xqi0_1 ._productImage_1xqi0_151 {
  width: 100%;
  height: 200px;
  padding: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
._opt_order_edit_container_1xqi0_1 ._productImage_1xqi0_151 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
._opt_order_edit_container_1xqi0_1 ._productContent_1xqi0_175 {
  padding: 4px 6px;
}
._opt_order_edit_container_1xqi0_1 ._productCard_1xqi0_133 ._title_1xqi0_181 {
  height: 40px;
  font-size: 16px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
._opt_order_edit_container_1xqi0_1
  ._productCard_1xqi0_133
  ._description_1xqi0_197 {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}
._opt_order_edit_container_1xqi0_1 ._productCard_1xqi0_133 ._price_1xqi0_209 {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
}
._opt_order_edit_container_1xqi0_1 ._addToCartBtn_1xqi0_221 {
  display: flex;
  justify-content: center;
  align-items: center;
}
._opt_order_edit_container_1xqi0_1 ._addToCartBtn_1xqi0_221 button {
  outline: none;
  border: none;
  background: #000;
  width: 100%;
  color: #fff;
  padding: 8px 0;
  font-size: 14px;
  border-radius: 8px;
}
._opt_order_edit_container_1xqi0_1 ._modal_main_container_1xqi0_257 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1000;
}
._opt_order_edit_container_1xqi0_1 ._settings_more_box_1xqi0_283 {
  display: none;
}
@media (max-width: 1154px) {
  ._opt_order_edit_container_1xqi0_1 ._settings_more_box_1xqi0_283 {
    display: block;
  }
}
@media (max-width: 978px) {
  ._opt_order_edit_container_1xqi0_1 ._content_1xqi0_37 {
    flex-direction: column;
  }
  ._order_details_desktop_1xqi0_51 {
    order: 2;
  }
}
@font-face {
  font-family: swiper-icons;
  src: url(data:application/font-woff;charset=utf-8;base64,\ d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA);
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper:before {
  content: '';
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper:before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: #00000026;
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, #00000080, #0000);
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
._modal_content_9qfau_1 {
  display: flex;
  background: #fff;
  color: #333;
  border-radius: 10px;
  position: relative;
  max-width: 900px;
  max-height: 635px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
._singleModalContent_9qfau_27 ._save_btn_9qfau_27,
._generate_invoice_btn_9qfau_29 {
  width: 100%;
  margin-top: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background: #5b21b6;
  color: #fff;
  border-radius: 0.313rem;
  cursor: pointer;
}
._modal_close_icon_9qfau_53 {
  cursor: pointer;
}
._product_search_box_9qfau_59 {
  position: relative;
}
._product_search_box_9qfau_59 input {
  width: 100%;
  padding: 7px 15px 7px 30px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
}
._product_search_box_9qfau_59 ._search_icon_9qfau_83 {
  position: absolute;
  left: 10px;
  top: 8px;
}
._sidebar_9qfau_95 {
  width: 244px;
  padding: 22px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
._sidebarTitle_9qfau_107 {
  font-size: 18px;
  margin-bottom: 20px;
}
._sidebarMenu_9qfau_117 {
  list-style: none;
  padding: 0;
  margin: 0;
}
._sidebarItem_9qfau_129 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
}
._sidebarItem_9qfau_129:hover {
  color: purple;
}
._settingsContainer_9qfau_159 {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
._modal_content_header_9qfau_171 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
._form_item_9qfau_185 {
  width: 100%;
  margin-bottom: 10px;
}
._form_item_9qfau_185 input,
._form_item_9qfau_185 textarea,
._selectContainer_9qfau_199 select {
  outline: none;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid rgba(116, 116, 116, 0.25);
  border-radius: 0.313rem;
  background-color: transparent;
  color: #000;
  transition: 0.3s;
  width: 100%;
}
._form_item_9qfau_185 input::placeholder {
  font-size: 14px;
}
._form_item_9qfau_185 input:focus {
  border-color: #1b66c9;
}
._form_Item_double_9qfau_239 {
  display: flex;
  align-items: center;
  gap: 15px;
}
._input__label_9qfau_251 {
  display: inline-block;
  background-color: #fff;
  letter-spacing: 0.1rem;
  color: #747474;
  pointer-events: none;
  transition: 0.3s;
  padding: 0 0.125rem;
  font-size: 11px;
  margin-bottom: 4px;
}
._selectContainer_9qfau_199 {
  position: relative;
  display: inline-block;
  width: 100%;
}
._selectContainer_9qfau_199 select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
._select_country_icon_9qfau_301,
._select_proviences_icon_9qfau_303 {
  position: absolute;
  right: 10px;
  top: 68%;
  transform: translateY(-50%);
  pointer-events: none;
}
._country_code_9qfau_327 {
  position: absolute;
  top: 68%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #000;
}
._phone_code_select_container_9qfau_343 {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
._phone_field_9qfau_319 {
  position: relative;
}
._country_code_select_9qfau_367 {
  padding-right: 3px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  background: transparent;
  left: 10px;
  top: 12px;
  border-right: 1px solid rgba(116, 116, 116, 0.25);
}
._vatriant_product_main_container_9qfau_397,
._quantity_product_main_container_9qfau_399 {
  gap: 20px;
  max-height: 458px;
  padding: 0 10px;
  overflow-y: auto;
}
._quantity_product_main_container_9qfau_399::-webkit-scrollbar,
._vatriant_product_main_container_9qfau_397::-webkit-scrollbar,
._switch_product_main_container_9qfau_417::-webkit-scrollbar,
._download_invoice_content_9qfau_419::-webkit-scrollbar,
._add_another_product_main_container_9qfau_421::-webkit-scrollbar {
  width: 6px;
}
._quantity_product_main_container_9qfau_399::-webkit-scrollbar-track,
._vatriant_product_main_container_9qfau_397::-webkit-scrollbar-track,
._switch_product_main_container_9qfau_417::-webkit-scrollbar-track,
._download_invoice_content_9qfau_419::-webkit-scrollbar-track,
._add_another_product_main_container_9qfau_421::-webkit-scrollbar-track {
  background: #f1f1f1;
}
._quantity_product_main_container_9qfau_399::-webkit-scrollbar-thumb,
._vatriant_product_main_container_9qfau_397::-webkit-scrollbar-thumb,
._switch_product_main_container_9qfau_417::-webkit-scrollbar-thumb,
._download_invoice_content_9qfau_419::-webkit-scrollbar-thumb,
._add_another_product_main_container_9qfau_421::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
._quantity_product_main_container_9qfau_399::-webkit-scrollbar-thumb:hover,
._vatriant_product_main_container_9qfau_397::-webkit-scrollbar-thumb:hover,
._switch_product_main_container_9qfau_417::-webkit-scrollbar-thumb:hover,
._download_invoice_content_9qfau_419::-webkit-scrollbar-thumb:hover,
._add_another_product_main_container_9qfau_421::-webkit-scrollbar-thumb:hover {
  background: #555;
}
._product_box_9qfau_473,
._action_btn_box_9qfau_475,
._product_box_content_9qfau_477 {
  display: flex;
  align-items: center;
  gap: 10px;
}
._product_content_9qfau_489 {
  max-width: 180px;
}
._product_box_9qfau_473 {
  justify-content: space-between;
  margin: 20px 0;
}
._product_variant_9qfau_505 {
  font-size: 13px;
  color: gray;
}
._product_title_9qfau_515 {
  font-size: 15px;
  margin-bottom: 5px;
}
._product_price_9qfau_523 {
  font-size: 14px;
}
._action_btn_box_9qfau_475 {
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;
  padding: 3px 10px;
}
._product_image_box_9qfau_543 {
  width: 60px;
  height: 60px;
  border: 1px solid #ece9e9;
  border-radius: 5px;
}
._product_image_box_9qfau_543 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
._action_btn_9qfau_475 {
  border: none;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}
._product_quantity_9qfau_591,
._product_quantity_title_9qfau_593 {
  font-size: 14px;
}
._product_quantity_title_9qfau_593 {
  margin-bottom: 3px;
}
._variant_product_box_9qfau_607,
._variant_product_box_content_9qfau_609 {
  display: flex;
  gap: 10px;
}
._variant_select_box_9qfau_619 select {
  padding: 5px 10px;
  border: 1px solid rgb(226, 223, 223);
  outline: none;
  border-radius: 5px;
}
._product_content_9qfau_489 ._product_price_9qfau_523 {
  font-size: 12px;
  margin-top: 5px;
}
._variant_product_box_9qfau_607 {
  justify-content: space-between;
  margin: 20px 0;
}
._shipping_method_content_9qfau_651 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 5px;
}
._method_radio_9qfau_669 {
  display: flex;
  align-items: center;
  gap: 8px;
}
._shipping_method_name_9qfau_681,
._method_price_9qfau_683 {
  font-size: 14px;
}
._product_variant_container_9qfau_691 [type='radio']:checked,
._product_variant_container_9qfau_691 [type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
._product_variant_container_9qfau_691 [type='radio']:checked + label,
._product_variant_container_9qfau_691 [type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
._product_variant_container_9qfau_691 [type='radio']:checked + label:before,
._product_variant_container_9qfau_691
  [type='radio']:not(:checked)
  + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
._product_variant_container_9qfau_691 [type='radio']:checked + label:after,
._product_variant_container_9qfau_691
  [type='radio']:not(:checked)
  + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #5b21b6;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
._product_variant_container_9qfau_691
  [type='radio']:not(:checked)
  + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
._product_variant_container_9qfau_691 [type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
._download_invoice_content_9qfau_419 {
  overflow: auto;
  max-height: 496px;
  margin-bottom: 10px;
  padding: 20px 10px 10px;
}
._address_container_9qfau_805 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 8px;
}
._address_title_9qfau_819 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #666;
}
._address_name_9qfau_831,
._address_9qfau_805 {
  font-size: 14px;
  margin-bottom: 3px;
}
._customize_invoice_title_9qfau_843 {
  font-size: 16px;
  margin: 10px 0;
}
._purchasing_checkbox_9qfau_853,
._billing_details_checkbox_9qfau_855 {
  font-size: 14px;
  margin-bottom: 5px;
}
._invoice_radio_container_9qfau_865 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
._invoice_radio_9qfau_865 {
  display: flex;
  align-items: center;
  gap: 8px;
}
._download_method_9qfau_889 {
  font-size: 14px;
}
._business_form_9qfau_895,
._billing_address_form_9qfau_897 {
  margin: 15px 0;
}
._gift_message_text_area_9qfau_905 textarea {
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px;
}
._switch_product_box_9qfau_921,
._switch_product_box_content_9qfau_923 {
  display: flex;
  gap: 10px;
}
._switch_product_box_9qfau_921 {
  justify-content: space-between;
  margin: 20px 0;
}
._switch_product_main_container_9qfau_417 {
  gap: 20px;
  max-height: 500px;
  padding: 0 10px;
  overflow-y: auto;
}
._switch_product_action_btn_9qfau_965 button {
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background: #5b21b6;
  color: #fff;
  border-radius: 0.313rem;
  cursor: pointer;
}
._add_to_cart_9qfau_985 {
  margin-top: 8px;
  margin-bottom: 10px;
}
._switch_single_product_box_9qfau_993 {
  display: flex;
  gap: 10px;
}
._switch_product_image_box_9qfau_1003 {
  width: 300px;
  height: 100%;
}
._switch_product_image_box_9qfau_1003 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
._switch_single_product_default_image_9qfau_1021 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-radius: 5px;
}
._switch_single_product_quantity_box_9qfau_1031 {
  width: 60px;
  margin-bottom: 15px;
}
._switch_product_variant_select_9qfau_1039 {
  padding: 5px 10px;
  border: 1px solid rgb(226, 223, 223);
  outline: none;
  border-radius: 5px;
}
._switch_single_product_title_9qfau_1053 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
._switch_single_product_price_9qfau_1063 {
  font-size: 14px;
  margin-bottom: 15px;
}
._switch_single_product_quantity_btn_9qfau_1073 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}
._switch_single_product_more_image_box_9qfau_1087 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
._switch_single_product_more_image_9qfau_1087 {
  width: 45px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
._switch_single_product_more_image_9qfau_1087 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
._add_another_product_box_9qfau_1133,
._add_another_product_box_content_9qfau_1135 {
  display: flex;
  gap: 10px;
}
._add_another_product_box_9qfau_1133 {
  justify-content: space-between;
  margin: 20px 0;
}
._add_another_product_main_container_9qfau_421 {
  gap: 20px;
  max-height: 500px;
  padding: 0 10px;
  overflow-y: auto;
}
._view_details_box_9qfau_953 p {
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
._add_another_product_action_btn_9qfau_1177 button {
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background: #5b21b6;
  color: #fff;
  border-radius: 0.313rem;
  cursor: pointer;
}
._buy_now_9qfau_1197 {
  margin-top: 8px;
  margin-bottom: 10px;
}
._add_another_single_product_box_9qfau_1205 {
  display: flex;
  gap: 10px;
}
._add_another_product_image_box_9qfau_1215 {
  width: 300px;
  height: 100%;
}
._add_another_product_image_box_9qfau_1215 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
._add_another_single_product_default_image_9qfau_1233 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-radius: 5px;
}
._add_another_single_product_quantity_box_9qfau_1243 {
  width: 60px;
  margin-bottom: 15px;
}
._add_another_product_variant_select_9qfau_1251 {
  padding: 5px 10px;
  border: 1px solid rgb(226, 223, 223);
  outline: none;
  border-radius: 5px;
}
._add_another_single_product_title_9qfau_1265 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
._add_another_single_product_price_9qfau_1275 {
  font-size: 14px;
  margin-bottom: 15px;
}
._add_another_single_product_quantity_btn_9qfau_1285 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}
._add_another_single_product_more_image_box_9qfau_1299 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
._add_another_single_product_more_image_9qfau_1299 {
  width: 45px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
._add_another_single_product_more_image_9qfau_1299 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
._promotion_qrmo6_1 {
  margin-top: 20px;
  width: 100%;
  background: red;
  height: 250px;
}
._promotion_qrmo6_1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._orderDetailsContent_ncvid_1 {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
._orderDetails_ncvid_1 ._orderDetailsItem_ncvid_21 {
  margin-bottom: 10px;
}
._orderDetails_ncvid_1 ._orderDetailsItemTitle_ncvid_29 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
._orderDetails_ncvid_1 ._information_ncvid_41 {
  font-size: 14px;
}
._orderDetails_ncvid_1 ._information_ncvid_41 p {
  margin-bottom: 3px;
  color: #555;
}
._deadline_ncvid_59 {
  background: #f7ede8;
  padding: 15px;
  border: 1px solid #f7eece;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
._deadline_ncvid_59 p {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 978px) {
  ._deadline_ncvid_59 {
    display: none;
  }
}
@media (max-width: 438px) {
  ._orderDetailsContent_ncvid_1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
._orderSummary_1u5cz_1 {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._orderSummary_1u5cz_1 h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}
._orderItems_1u5cz_39 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
  margin-bottom: 20px;
  height: 190px;
  overflow-y: auto;
}
._orderItem_1u5cz_39 {
  display: flex;
  align-items: center;
  gap: 10px;
}
._orderItem_1u5cz_39 img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ccc;
}
._itemDetails_1u5cz_85 {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
._itemDetails_1u5cz_85 p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
._itemDetails_1u5cz_85 span {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
._priceDetails_1u5cz_121,
._taxSection_1u5cz_123,
._paymentDetails_1u5cz_125 {
  margin-bottom: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
._priceDetails_1u5cz_121 p,
._taxSection_1u5cz_123 p,
._paymentDetails_1u5cz_125 p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px 0;
}
._shippingSection_1u5cz_155 {
  margin: 20px 0;
}
._shippingSection_1u5cz_155 h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
._shippingOption_1u5cz_175 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
._shippingOption_1u5cz_175 input {
  accent-color: #5b21b6;
}
._shippingOption_1u5cz_175 label {
  font-size: 14px;
}
._shippingOption_1u5cz_175 span {
  margin-left: auto;
  font-size: 14px;
  color: #555;
}
._saveButton_1u5cz_217 {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  background-color: #5b21b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
._saveButton_1u5cz_217:hover {
  background-color: #0056b3;
}
._orderSummary_1u5cz_1 ::-webkit-scrollbar {
  width: 6px;
}
._orderSummary_1u5cz_1 ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
._orderSummary_1u5cz_1 ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
._orderSummary_1u5cz_1 ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
._deadline_mobile_1u5cz_279 {
  display: none;
}
._deadline_1u5cz_279 {
  background: #f7ede8;
  padding: 15px;
  border: 1px solid #f7eece;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
._deadline_1u5cz_279 p {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 978px) {
  ._deadline_mobile_1u5cz_279 {
    display: block;
  }
}
