@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';
.opt-order-edit,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, serif;
  letter-spacing: normal;
  line-height: normal;
}
.opt-order-edit .card-slider .slick-slide {
  padding: 0 10px;
}
.opt_order_edit_divider {
  width: 100%;
  height: 1px;
  background: #e9e7e7;
}
._opt_search_order_container_1t1c4_3 ._container_1t1c4_3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
._opt_search_order_container_1t1c4_3 ._loginComponent_1t1c4_17 {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px #0000001a;
  border-radius: 6px;
  width: 100%;
  height: 500px;
}
._opt_search_order_container_1t1c4_3 ._loginForm_1t1c4_39 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
._opt_search_order_container_1t1c4_3 ._formContainer_1t1c4_53 {
  padding: 10px 30px;
}
._opt_search_order_container_1t1c4_3 ._title_1t1c4_63 {
  font-size: 22px;
  font-weight: 600;
}
._opt_search_order_container_1t1c4_3 ._subtitle_1t1c4_73 {
  font-size: 14px;
}
._opt_search_order_container_1t1c4_3 ._form_1t1c4_53 {
  margin-top: 1rem;
}
._opt_search_order_container_1t1c4_3 ._inputGroup_1t1c4_91 {
  margin-bottom: 1rem;
}
._opt_search_order_container_1t1c4_3 ._inputField_1t1c4_99 {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  color: #6b7280;
  outline: none;
}
._opt_search_order_container_1t1c4_3 ._inputField_1t1c4_99:focus {
  border-color: #6d28d9;
  box-shadow: 0 0 0 1px #6d28d9;
}
._opt_search_order_container_1t1c4_3 ._checkbox_1t1c4_131 {
  margin-right: 0.5rem;
}
._opt_search_order_container_1t1c4_3 ._buttonGroup_1t1c4_141 {
  margin-bottom: 1rem;
}
._opt_search_order_container_1t1c4_3 ._signInButton_1t1c4_149 {
  width: 100%;
  text-align: center;
  background-color: #6d28d9;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
._opt_search_order_container_1t1c4_3 ._signInButton_1t1c4_149:hover {
  background-color: #5b21b6;
}
._opt_search_order_container_1t1c4_3 ._loginBanner_1t1c4_183 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 15px;
}
._opt_search_order_container_1t1c4_3 ._bannerImage_1t1c4_199 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
._opt_order_edit_container_1d62i_1 {
  padding: 20px;
  width: 1420px;
  margin: 100px auto;
}
._opt_order_edit_container_1d62i_1 ._header_1d62i_13 {
  width: 100%;
  height: 200px;
  text-align: center;
  background: linear-gradient(to right, #ffa07a, #5b21b6);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
._opt_order_edit_container_1d62i_1 ._setting_1d62i_39 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
._opt_order_edit_container_1d62i_1 ._content_1d62i_61 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}
._opt_order_edit_container_1d62i_1 ._orderSummary_1d62i_77,
._opt_order_edit_container_1d62i_1 ._orderDetails_1d62i_79 {
  flex: 1;
}
._opt_order_edit_container_1d62i_1 ._productSection_1d62i_87 {
  width: 100%;
  margin-top: 20px;
}
._opt_order_edit_container_1d62i_1 ._productLabel_1d62i_97 {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
}
._opt_order_edit_container_1d62i_1 ._settings_box_1d62i_109 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 100px;
  cursor: pointer;
}
._opt_order_edit_container_1d62i_1 ._settings_icon_1d62i_125 {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
._opt_order_edit_container_1d62i_1 ._settings_label_1d62i_151 {
  font-size: 10px;
}
._opt_order_edit_container_1d62i_1 ._orderDetails_1d62i_79 {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
._opt_order_edit_container_1d62i_1 ._orderDetails_1d62i_79 h2 {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}
._opt_order_edit_container_1d62i_1
  ._orderDetails_1d62i_79
  ._orderDetailsItem_1d62i_187 {
  margin-bottom: 10px;
}
._opt_order_edit_container_1d62i_1
  ._orderDetails_1d62i_79
  ._orderDetailsItemTitle_1d62i_195 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
._opt_order_edit_container_1d62i_1
  ._orderDetails_1d62i_79
  ._information_1d62i_207 {
  font-size: 14px;
}
._opt_order_edit_container_1d62i_1
  ._orderDetails_1d62i_79
  ._information_1d62i_207
  p {
  margin-bottom: 3px;
  color: #555;
}
._opt_order_edit_container_1d62i_1 ._orderSummary_1d62i_77 {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._opt_order_edit_container_1d62i_1 ._orderSummary_1d62i_77 h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}
._opt_order_edit_container_1d62i_1 ._orderItems_1d62i_263 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  max-height: 250px;
  overflow-y: scroll;
}
._opt_order_edit_container_1d62i_1 ._orderItem_1d62i_263 {
  display: flex;
  align-items: center;
  gap: 10px;
}
._opt_order_edit_container_1d62i_1 ._orderItem_1d62i_263 img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ccc;
}
._opt_order_edit_container_1d62i_1 ._itemDetails_1d62i_309 {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
._opt_order_edit_container_1d62i_1 ._itemDetails_1d62i_309 p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
._opt_order_edit_container_1d62i_1 ._itemDetails_1d62i_309 span {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
._opt_order_edit_container_1d62i_1 ._priceDetails_1d62i_345,
._opt_order_edit_container_1d62i_1 ._taxSection_1d62i_347,
._opt_order_edit_container_1d62i_1 ._paymentDetails_1d62i_349 {
  margin-bottom: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
._opt_order_edit_container_1d62i_1 ._priceDetails_1d62i_345 p,
._opt_order_edit_container_1d62i_1 ._taxSection_1d62i_347 p,
._opt_order_edit_container_1d62i_1 ._paymentDetails_1d62i_349 p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px 0;
}
._opt_order_edit_container_1d62i_1 ._shippingSection_1d62i_379 {
  margin: 20px 0;
}
._opt_order_edit_container_1d62i_1 ._shippingSection_1d62i_379 h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
._opt_order_edit_container_1d62i_1 ._shippingOption_1d62i_399 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
._opt_order_edit_container_1d62i_1 ._shippingOption_1d62i_399 input {
  accent-color: #5b21b6;
}
._opt_order_edit_container_1d62i_1 ._shippingOption_1d62i_399 label {
  font-size: 14px;
}
._opt_order_edit_container_1d62i_1 ._shippingOption_1d62i_399 span {
  margin-left: auto;
  font-size: 14px;
  color: #555;
}
._opt_order_edit_container_1d62i_1 ._saveButton_1d62i_441 {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  background-color: #5b21b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
._opt_order_edit_container_1d62i_1 ._saveButton_1d62i_441:hover {
  background-color: #0056b3;
}
._opt_order_edit_container_1d62i_1 ._orderSummary_1d62i_77 ::-webkit-scrollbar {
  width: 6px;
}
._opt_order_edit_container_1d62i_1
  ._orderSummary_1d62i_77
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
._opt_order_edit_container_1d62i_1
  ._orderSummary_1d62i_77
  ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
._opt_order_edit_container_1d62i_1
  ._orderSummary_1d62i_77
  ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
._opt_order_edit_container_1d62i_1 ._productCard_1d62i_503 {
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
._opt_order_edit_container_1d62i_1 ._productCard_1d62i_503 a {
  text-decoration: none;
  color: #333;
}
._opt_order_edit_container_1d62i_1 ._productImage_1d62i_523 {
  width: 100%;
  height: 200px;
  padding: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
._opt_order_edit_container_1d62i_1 ._productImage_1d62i_523 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
._opt_order_edit_container_1d62i_1 ._productContent_1d62i_547 {
  padding: 4px 6px;
}
._opt_order_edit_container_1d62i_1 ._productCard_1d62i_503 ._title_1d62i_553 {
  height: 40px;
  font-size: 16px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
._opt_order_edit_container_1d62i_1
  ._productCard_1d62i_503
  ._description_1d62i_569 {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}
._opt_order_edit_container_1d62i_1 ._productCard_1d62i_503 ._price_1d62i_345 {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
}
._opt_order_edit_container_1d62i_1 ._addToCartBtn_1d62i_593 {
  display: flex;
  justify-content: center;
  align-items: center;
}
._opt_order_edit_container_1d62i_1 ._addToCartBtn_1d62i_593 button {
  outline: none;
  border: none;
  background: #000;
  width: 100%;
  color: #fff;
  padding: 8px 0;
  font-size: 14px;
  border-radius: 8px;
}
._opt_order_edit_container_1d62i_1 ._modal_main_container_1d62i_629 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1000;
}
@font-face {
  font-family: swiper-icons;
  src: url(data:application/font-woff;charset=utf-8;base64,\ d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA);
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper:before {
  content: '';
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper:before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: #00000026;
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, #00000080, #0000);
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, #00000080, #0000);
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
._modal_content_1ci7s_1 {
  display: flex;
  background: #fff;
  color: #333;
  border-radius: 10px;
  position: relative;
  max-width: 900px;
  max-height: 635px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
._singleModalContent_1ci7s_27 ._save_btn_1ci7s_27,
._generate_invoice_btn_1ci7s_29 {
  width: 100%;
  margin-top: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background: #5b21b6;
  color: #fff;
  border-radius: 0.313rem;
  cursor: pointer;
}
._modal_close_icon_1ci7s_53 {
  cursor: pointer;
}
._product_search_box_1ci7s_59 {
  position: relative;
}
._product_search_box_1ci7s_59 input {
  width: 100%;
  padding: 7px 15px 7px 30px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
}
._product_search_box_1ci7s_59 ._search_icon_1ci7s_83 {
  position: absolute;
  left: 10px;
  top: 8px;
}
._sidebar_1ci7s_95 {
  width: 244px;
  padding: 22px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
._sidebarTitle_1ci7s_107 {
  font-size: 18px;
  margin-bottom: 20px;
}
._sidebarMenu_1ci7s_117 {
  list-style: none;
  padding: 0;
  margin: 0;
}
._sidebarItem_1ci7s_129 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
}
._sidebarItem_1ci7s_129:hover {
  color: purple;
}
._settingsContainer_1ci7s_159 {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
._modal_content_header_1ci7s_171 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
._form_item_1ci7s_185 {
  width: 100%;
  margin-bottom: 10px;
}
._form_item_1ci7s_185 input,
._form_item_1ci7s_185 textarea,
._selectContainer_1ci7s_199 select {
  outline: none;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid rgba(116, 116, 116, 0.25);
  border-radius: 0.313rem;
  background-color: transparent;
  color: #000;
  transition: 0.3s;
  width: 100%;
}
._form_item_1ci7s_185 input::placeholder {
  font-size: 14px;
}
._form_item_1ci7s_185 input:focus {
  border-color: #1b66c9;
}
._form_Item_double_1ci7s_239 {
  display: flex;
  align-items: center;
  gap: 15px;
}
._input__label_1ci7s_251 {
  display: inline-block;
  background-color: #fff;
  letter-spacing: 0.1rem;
  color: #747474;
  pointer-events: none;
  transition: 0.3s;
  padding: 0 0.125rem;
  font-size: 11px;
  margin-bottom: 4px;
}
._selectContainer_1ci7s_199 {
  position: relative;
  display: inline-block;
  width: 100%;
}
._selectContainer_1ci7s_199 select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
._select_country_icon_1ci7s_301,
._select_proviences_icon_1ci7s_303 {
  position: absolute;
  right: 10px;
  top: 68%;
  transform: translateY(-50%);
  pointer-events: none;
}
._country_code_1ci7s_327 {
  position: absolute;
  top: 68%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #000;
}
._phone_code_select_container_1ci7s_343 {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
._phone_field_1ci7s_319 {
  position: relative;
}
._country_code_select_1ci7s_367 {
  padding-right: 3px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  background: transparent;
  left: 10px;
  top: 12px;
  border-right: 1px solid rgba(116, 116, 116, 0.25);
}
._product_main_container_1ci7s_397 {
  gap: 20px;
  max-height: 458px;
  padding: 0 10px;
  overflow-y: auto;
}
._product_main_container_1ci7s_397::-webkit-scrollbar,
._download_invoice_content_1ci7s_413::-webkit-scrollbar {
  width: 6px;
}
._product_main_container_1ci7s_397::-webkit-scrollbar-track,
._download_invoice_content_1ci7s_413::-webkit-scrollbar-track {
  background: #f1f1f1;
}
._product_main_container_1ci7s_397::-webkit-scrollbar-thumb,
._download_invoice_content_1ci7s_413::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
._product_main_container_1ci7s_397::-webkit-scrollbar-thumb:hover,
._download_invoice_content_1ci7s_413:-webkit-scrollbar-thumb:hover {
  background: #555;
}
._product_box_1ci7s_447,
._action_btn_box_1ci7s_449,
._product_box_content_1ci7s_451 {
  display: flex;
  align-items: center;
  gap: 10px;
}
._product_content_1ci7s_463 {
  max-width: 180px;
}
._product_box_1ci7s_447 {
  justify-content: space-between;
  margin: 20px 0;
}
._product_variant_1ci7s_479 {
  font-size: 13px;
  color: gray;
}
._product_title_1ci7s_489 {
  font-size: 15px;
  margin-bottom: 5px;
}
._product_price_1ci7s_497 {
  font-size: 14px;
}
._action_btn_box_1ci7s_449 {
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;
  padding: 3px 10px;
}
._product_image_box_1ci7s_517 {
  width: 60px;
  height: 60px;
  border: 1px solid #ece9e9;
  border-radius: 5px;
}
._product_image_box_1ci7s_517 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
._action_btn_1ci7s_449 {
  border: none;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}
._product_quantity_1ci7s_565,
._product_quantity_title_1ci7s_567 {
  font-size: 14px;
}
._product_quantity_title_1ci7s_567 {
  margin-bottom: 3px;
}
._variant_product_box_1ci7s_581,
._variant_product_box_content_1ci7s_583 {
  display: flex;
  gap: 10px;
}
._variant_select_box_1ci7s_593 select {
  padding: 5px 10px;
  border: 1px solid rgb(226, 223, 223);
  outline: none;
  border-radius: 5px;
}
._product_content_1ci7s_463 ._product_price_1ci7s_497 {
  font-size: 12px;
  margin-top: 5px;
}
._variant_product_box_1ci7s_581 {
  justify-content: space-between;
  margin: 20px 0;
}
._shipping_method_content_1ci7s_625 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
._method_radio_1ci7s_637 {
  display: flex;
  align-items: center;
  gap: 8px;
}
._shipping_method_name_1ci7s_649,
._method_price_1ci7s_651 {
  font-size: 14px;
}
._product_variant_container_1ci7s_659 [type='radio']:checked,
._product_variant_container_1ci7s_659 [type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
._product_variant_container_1ci7s_659 [type='radio']:checked + label,
._product_variant_container_1ci7s_659 [type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
._product_variant_container_1ci7s_659 [type='radio']:checked + label:before,
._product_variant_container_1ci7s_659
  [type='radio']:not(:checked)
  + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
._product_variant_container_1ci7s_659 [type='radio']:checked + label:after,
._product_variant_container_1ci7s_659
  [type='radio']:not(:checked)
  + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #5b21b6;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
._product_variant_container_1ci7s_659
  [type='radio']:not(:checked)
  + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
._product_variant_container_1ci7s_659 [type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
._download_invoice_content_1ci7s_413 {
  overflow: auto;
  max-height: 496px;
  margin-bottom: 10px;
  padding: 20px 10px 10px;
}
._address_container_1ci7s_773 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 8px;
}
._address_title_1ci7s_787 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #666;
}
._address_name_1ci7s_799,
._address_1ci7s_773 {
  font-size: 14px;
  margin-bottom: 3px;
}
._customize_invoice_title_1ci7s_811 {
  font-size: 16px;
  margin: 10px 0;
}
._purchasing_checkbox_1ci7s_821,
._billing_details_checkbox_1ci7s_823 {
  font-size: 14px;
  margin-bottom: 5px;
}
._invoice_radio_container_1ci7s_833 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
._invoice_radio_1ci7s_833 {
  display: flex;
  align-items: center;
  gap: 8px;
}
._download_method_1ci7s_857 {
  font-size: 14px;
}
._business_form_1ci7s_863,
._billing_address_form_1ci7s_865 {
  margin: 15px 0;
}
